/* #region Utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* .debug {
    border: 2px dashed black;
}
 */
.container{
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.col-3{
    width: calc(100% / 12 * 3);
    padding: 1rem;
    background-color: white;
    position: relative;
    margin: 1.5rem;
    box-shadow: 3px 3px 5px black;
}
/* #endregion Utilities */

/* #region Header */
header {
    background-image: url(../img/wall.png);
    padding: 2rem;
    font-family: "Sometype Mono", monospace;
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}
/* #endregion Header */

/* #region Main */
main{
    background-image: url(../img/cork.png);
}

.col-3:hover{
    rotate: 10deg;
    scale: 1.2;
    box-shadow: 3px 3px 10px black;
}

.cardPin{
    position: absolute;
    top: -15px;
    left: 43%;
}

.cardImage{
    width: 100%;
}

.cardText{
    margin-top: 0.75rem;
    font-family: "Edu TAS Beginner", cursive;
    font-size: 1.25rem;
}
/* #endregion Main */


/* #region Overlay */
.overlay{
    display: none;
    text-align: center;
    width: 100vw;
    background-color: rgba(33, 27, 27, 0.9);
    height: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;
}

.overlayPic{
    width: 450px;
    aspect-ratio: 1;
}

.closeButton{
    text-align: center;
    padding: 1rem;
}

button{
    padding: 0.25rem;
    margin-bottom: 0.75rem;
}



/* #endregion Overlay */
